body {
    font-family: Arial;
    background: #ffffff;
    margin: 0;           /* fjern standard margin */
    height: 100vh;       /* gør body højden 100% af viewport */
    display: flex;       /* brug flexbox til placering */
    align-items: center; /* centrer lodret */
    justify-content: flex-start; /* placer til venstre */
    padding-left: 20px;  /* afstand fra venstre kant */
}

.player {
    background: white;
    width: 350px;
    padding: 20px;
    border-radius: 20px;
    max-height: 200px;
    box-shadow: 0 5px 20px rgba(168, 168, 168, 0.15);
}
.cover {
    width: 100%;
    max-width: 300px; /* sætter et maksimum */
    height: auto;     /* holder proportionerne */
    border-radius: 15px;
    display: block;
    margin: 0 auto;   /* centrerer billedet i .player */
}