body {
    font-family: Arial;
    background: #ffffff;
    margin: 0;
    height: 100vh;              
    position: relative; 
}

.player-container {
    display: flex;
    align-items: flex-start;
    gap: 50px;
}

.player {
    background: white;
    width: 350px;
    padding: 20px;
    border-radius: 20px;
    max-height: 500px;
    box-shadow: 0 5px 20px rgba(168, 168, 168, 0.15);
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-left: 100px;  
    margin-top: 80px;    
}

.cover {
    width: 100%;
    max-width: 300px;  
    height: auto;
    border-radius: 15px;
    display: block;
    margin-bottom: 15px;
}

.song-info {
    width: 100%;
    text-align: center;
    margin-top: 0;
}

.controls {
    margin-top: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.volume-container {
    display: flex;
    align-items: center;
    gap: 5px;
    flex: 1;
}

.volume-icon {
    font-size: 18px;
}

#volume {
    flex: 1;
}

.progress {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%; 
}

.progress input[type=range] {
    flex: 1; 
}

.next-track {
    width: 200px;
    margin-top: 80px; 
    font-family: Arial;
    background: #f9f9f9;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.next-track h4 {
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
}

.next-track ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.next-track ul li {
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
}
